/* ========================= */
/* GENERAL */
h2,h3,h4{
    padding-top: 20px;
    padding-bottom: 20px;

}

h5{
    padding-top: 30px;
    padding-bottom: 20px;
}

.img_article{
    text-align: center;
   
}
/* ========================= */


/* ========================= */
/* HEADER */
.banner{
    height: fit-content;
}

.img_iut{
    height: 100px;
}

.img_logo{
    height: 100px;
}

/* ACCUEIL */
.container_accueil{
    padding-top: 30px;
}

.div_selenium{
    background-color: #F5F5F5;
}


.div_selenium_ide{
    /*background-color: #0233A0;*/
    background-color: #F0FFFF;
}

.div_selenium_webdriver{
    /*background-color: #CF0A2C;*/
    background-color: #FFFAFA;

}

.div_selenium_grid{
    /*background-color: #645D9C;*/
    background-color: #F0F8FF;

}

.liens{
    color:black;
    
}
/* ========================= */


/* ========================= */
/* SELENIUM IDE */
.img_selenium_ide{
    height: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.img_selenium_ide_small{
    margin-top: 30px;
    margin-bottom: 30px;
}
/* ========================= */




